.companySpan {
    font-family: 'Lobster', cursive;
}

.workedFrom {
    font-family: 'Lobster', cursive;
}

.workedFrom {
    font-family: 'Lobster', cursive;
}

.workedTill {
    font-family: 'Lobster', cursive; 
} 

.presntlyWorkingSpan {
    font-family: 'Lobster', cursive; 
}

.workExTbl {
    width: 70%;
}